@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Merriweather&family=PT+Sans&family=Poppins:ital,wght@1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  background-color: #FFF5E4;
  color: #FF9494;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  max-width: 80%;
}
header {
  font-size: 2rem;
}
header,
 form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
